.App {
  text-align: center;
  font-family: "Roboto", "arial";
}

:root {
  --secondary-bg: #444;
  --primary-color: #fff;
  --secondary-color: aqua;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.usersList {
  margin-top: 10px;
}

.aqua {
  color: var(--secondary-color);
}
